* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  padding: 15px;
  font-size: 26px;
  color: #fff;
}

.main-title {
  font-family: Georgia, serif;
  color: #fff;
  padding: 20px;
}

.links {
  text-align: right;
  margin: -25px 180px 0 0;
}

.main {
  font-size: 35px;
}

.center-title {
  text-align: center;
  margin-top: 200px;
  height: 100px;
  font-size: 70px;
  color: #fff;
}

.creator {
  text-align: center;
  margin: 70px;
  font-size: 30px;
  color: #fff;
}

.parent {
  background-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./image/pexels-minan1398-853168.jpg);
  background-repeat: no-repeat;
  height: 700px;
  background-size: cover;
}

.p1 {
  background-color: #f7702e;
  height: 120px;
  font-size: 30px;
}

.p2 {
  background-color: #f98e3e;
  font-size: 30px;
}



.pa {
  display: flex;
  justify-content: space-around;
}