body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h3 {
  font-weight: 1000;
}

td {
  border: 1px solid #80ced6;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  background-color: #f0fff8;
}

p,
ul {
  box-sizing: border-box;
  background-color: #f0fff8;
  padding: 30px;
  border: 1px solid #80ced6;
  border-radius: 15px;
}

ul {
  list-style-type: square;
}